*{
    margin: 0;
    padding: 0;
    
}


 .column {
    float: left;
    width: 32%;
    padding: 10px;
    
  }
  

  .column img {
    opacity: 0.8;
    cursor: pointer;
  }
  
  .column img:hover {
    opacity: 1;
  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  

  .container {
    position: relative;
    display: none;
  }
  

  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }

  .column .text1 .text2 .text3 .text4 .text5 .text6  {
    position: absolute;
    height: 100%;
    width: 100%;
    margin-top: 10%; 
    margin-left:11%;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    }


  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  } 

  function myFunction(imgs) {
    // Get the expanded image
    var expandImg = document.getElementById("expandedImg");
    // Get the image text
    var imgText = document.getElementById("imgtext");
    // Use the same src in the expanded image as the image being clicked on from the grid
    expandImg.src = imgs.src;
    // Use the value of the alt attribute of the clickable image as text inside the expanded image
    imgText.innerHTML = imgs.alt;
    // Show the container element (hidden with CSS)
    expandImg.parentElement.style.display = "block";
  } 

h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    
    }
    ul{
        list-style-type: none;
        margin: 0%;
        padding: 15px;
        overflow: hidden;
        background-color: rgb(132, 214, 220);
        position: sticky;
        top: 0%;
    }
    
    a{
        display:inline block;
        color: rgb(0, 0, 0);
        text-decoration: none;
        float: right;
        padding: 20px;
        font-size: large;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    a:hover{
        background-color: rgb(179, 231, 244);
    }
    
    
    
    .footercontainer{
        background-color: rgb(114, 197, 223);
        bottom: 0%;
        size: 100% 25%;
        margin-top: 2%;
    
    }
    
    .footerrow{
    
        display:flex;
        justify-content:space-between;
        padding: 60px 400px;
        bottom: 0%;
    }
    .footer-col h4{
        color: rgb(0, 0, 0);
        margin-bottom: 30px;
        position: relative;
        bottom: 0%;
        
    
    }
    
    
    .footer-col li {
    
    padding: 20px;
    
    }
    
    .footer-col ul li a {
        color: antiquewhite;
        text-decoration: none;
        font-size: medium;
    }
    .footer-col{
    display: block;
    
    
    }
    
    .col1{
    display: block;
    
    
    }