* {
    margin: 0;
    padding: 0;
}



.search {
    display: flex;
    justify-content: center;
    padding-top: 25%;
}


.row{

    padding-left: 16%;

}

.column {
   
    float: inline-start;
    width: 28%;
    border: 1px solid lightskyblue;
    overflow: hidden;
  }
  
  .row:after {
    
    content: "";
    display: table;
    clear: both;
  }

